/__pycache__/
# ignore python cache directory and all of its content

/unused/
# ignore unused code  

geckodriver.log
# ignore gecko driver logs

emailToFile.txt
#ignore <email>:<password> dump

instaToFile.txt
#ignore <username>:<password> dump